In [49]:
import pandas as pd
import numpy as np


parking_lot_cardosas = pd.read_csv('Datasets/CMP_parkingLots/parque_cardosas_m.csv')
parking_lot_casaMusica = pd.read_csv('Datasets/CMP_parkingLots/parque_casa_da_musica_pcm_m.csv')
parking_lot_loule = pd.read_csv('Datasets/CMP_parkingLots/parque_loule_m.csv')
parking_lot_tribunal = pd.read_csv('Datasets/CMP_parkingLots/parque_palacio_da_justica_m.csv')
parking_lot_lisboa = pd.read_csv('Datasets/CMP_parkingLots/parque_praca_lisboa_m.csv')
parking_lot_ribeira = pd.read_csv('Datasets/CMP_parkingLots/parque_ribeira_m.csv')
parking_lot_trindade = pd.read_csv('Datasets/CMP_parkingLots/parque_trindade_m.csv')

In [50]:
print(parking_lot_cardosas.head())
parking_lot_cardosas.describe()

            updated_at  total_spaces  available_spaces
0  2022-12-06 15:29:55           327                50
1  2022-12-06 15:34:54           327                45
2  2022-12-06 15:39:54           327                43
3  2022-12-06 15:54:54           327                43
4  2022-12-06 16:05:41           327                42

       total_spaces  available_spaces
count       24287.0      24287.000000
mean          327.0        174.768312
std             0.0         45.543310
min           327.0         42.000000
25%           327.0        136.000000
50%           327.0        180.000000
75%           327.0        214.000000
max           327.0        262.000000

In [51]:
print(parking_lot_casaMusica.head())
parking_lot_casaMusica.describe()

            updated_at  total_spaces  available_spaces
0  2022-12-05 12:39:33           638               146
1  2022-12-05 12:44:34           638               149
2  2022-12-05 12:49:33           638               153
3  2022-12-05 12:54:33           638               150
4  2022-12-05 12:59:33           638               152

       total_spaces  available_spaces
count       24441.0      24441.000000
mean          638.0        294.319463
std             0.0         86.477690
min           638.0          0.000000
25%           638.0        218.000000
50%           638.0        334.000000
75%           638.0        361.000000
max           638.0        402.000000

In [52]:
print(parking_lot_loule.head())
parking_lot_loule.describe()

            updated_at      description  total_spaces  occupied_spaces
0  2022-12-06 14:16:02      Av. 48Horas           250                0
1  2022-12-06 14:16:02      Av. 72Horas           250                9
2  2022-12-06 14:16:02  Av. Comerciante           250                2
3  2022-12-06 14:16:02      Av. Publico           250                1
4  2022-12-06 14:16:02    Av. Residente           250               17

        total_spaces  occupied_spaces
count  294596.000000    294596.000000
mean      193.665732         7.384449
std        85.389462        16.004782
min         0.000000       -22.000000
25%       124.000000         0.000000
50%       250.000000         0.000000
75%       250.000000         8.000000
max       250.000000       119.000000

In [53]:
print(parking_lot_tribunal.head())
parking_lot_tribunal.describe()

            updated_at  total_spaces  available_spaces
0  2022-12-05 12:39:41           329                64
1  2022-12-05 12:44:40           329                66
2  2022-12-05 12:49:41           329                66
3  2022-12-05 12:54:40           329                66
4  2022-12-05 12:59:40           329                64

       total_spaces  available_spaces
count       24367.0      24367.000000
mean          329.0        195.989986
std             0.0         78.783062
min           329.0          0.000000
25%           329.0        152.000000
50%           329.0        234.000000
75%           329.0        255.000000
max           329.0        277.000000

In [54]:
print(parking_lot_lisboa.head())
parking_lot_lisboa.describe()

            updated_at  total_spaces  available_spaces
0  2022-12-05 12:42:30           893               426
1  2022-12-05 12:47:30           893               426
2  2022-12-05 12:52:30           893               425
3  2022-12-05 12:57:30           893               422
4  2022-12-05 13:07:33           893               423

       total_spaces  available_spaces
count       24274.0      24274.000000
mean          893.0        556.878224
std             0.0        187.667467
min           893.0          0.000000
25%           893.0        475.000000
50%           893.0        591.000000
75%           893.0        707.000000
max           893.0        798.000000

In [55]:
print(parking_lot_ribeira.head())
parking_lot_ribeira.describe()

            updated_at  total_spaces  available_spaces
0  2022-12-05 12:38:02           318               142
1  2022-12-05 12:43:02           318               144
2  2022-12-05 12:48:02           318               142
3  2022-12-05 12:53:02           318               145
4  2022-12-05 12:58:02           318               143

       total_spaces  available_spaces
count       24683.0      24683.000000
mean          318.0        184.905076
std             0.0         52.357131
min           318.0          0.000000
25%           318.0        160.000000
50%           318.0        199.000000
75%           318.0        224.000000
max           318.0        318.000000

In [56]:
print(parking_lot_trindade.head())
parking_lot_trindade.describe()

            updated_at      description  total_spaces  occupied_spaces
0  2022-11-02 14:31:39      Av. 48Horas           250                0
1  2022-11-02 14:31:39      Av. 72Horas           250               20
2  2022-11-02 14:31:39  Av. Comerciante           250                9
3  2022-11-02 14:31:39      Av. Publico           250               12
4  2022-11-02 14:31:39    Av. Residente           250               42

        total_spaces  occupied_spaces
count  443684.000000    443684.000000
mean      232.006633        16.136205
std        91.644039        27.047681
min         0.000000        -3.000000
25%       250.000000         0.000000
50%       250.000000         4.000000
75%       250.000000        27.000000
max       346.000000       368.000000

Adding a general identifier to each park dataframe to join the databases.

In [57]:
parking_lot_cardosas['general_id'] = 1
parking_lot_casaMusica['general_id'] = 2
parking_lot_loule['general_id'] = 3
parking_lot_tribunal['general_id'] = 4
parking_lot_lisboa['general_id'] = 5
parking_lot_ribeira['general_id'] = 6
parking_lot_trindade['general_id'] = 7

Add the values of occupied spots and available spots in each dataset

In [58]:
parking_lot_cardosas['occupied_spaces'] = 0
for index, row in parking_lot_cardosas.iterrows():
    parking_lot_cardosas['occupied_spaces'] = parking_lot_cardosas['total_spaces']-parking_lot_cardosas['available_spaces']

In [59]:
parking_lot_casaMusica['occupied_spaces'] = 0
for index, row in parking_lot_casaMusica.iterrows():
    parking_lot_casaMusica['occupied_spaces'] = parking_lot_casaMusica['total_spaces']-parking_lot_casaMusica['available_spaces']
parking_lot_casaMusica.head()

,updated_at,total_spaces,available_spaces,general_id,occupied_spaces
0,2022-12-05 12:39:33,638,146,2,492
1,2022-12-05 12:44:34,638,149,2,489
2,2022-12-05 12:49:33,638,153,2,485
3,2022-12-05 12:54:33,638,150,2,488
4,2022-12-05 12:59:33,638,152,2,486

In [60]:
parking_lot_loule['available_spaces'] = 0
for index, row in parking_lot_loule.iterrows():
    parking_lot_loule['available_spaces'] = parking_lot_loule['total_spaces']-parking_lot_loule['occupied_spaces']
parking_lot_loule.head()

,updated_at,description,total_spaces,occupied_spaces,general_id,available_spaces
0,2022-12-06 14:16:02,Av. 48Horas,250,0,3,250
1,2022-12-06 14:16:02,Av. 72Horas,250,9,3,241
2,2022-12-06 14:16:02,Av. Comerciante,250,2,3,248
3,2022-12-06 14:16:02,Av. Publico,250,1,3,249
4,2022-12-06 14:16:02,Av. Residente,250,17,3,233

In [61]:
parking_lot_tribunal['occupied_spaces'] = 0
for index, row in parking_lot_tribunal.iterrows():
    parking_lot_tribunal['occupied_spaces'] = parking_lot_tribunal['total_spaces']-parking_lot_tribunal['available_spaces']
parking_lot_tribunal.head()

,updated_at,total_spaces,available_spaces,general_id,occupied_spaces
0,2022-12-05 12:39:41,329,64,4,265
1,2022-12-05 12:44:40,329,66,4,263
2,2022-12-05 12:49:41,329,66,4,263
3,2022-12-05 12:54:40,329,66,4,263
4,2022-12-05 12:59:40,329,64,4,265

In [62]:
parking_lot_lisboa['occupied_spaces'] = 0
for index, row in parking_lot_lisboa.iterrows():
    parking_lot_lisboa['occupied_spaces'] = parking_lot_lisboa['total_spaces']-parking_lot_lisboa['available_spaces']
parking_lot_lisboa.head()

,updated_at,total_spaces,available_spaces,general_id,occupied_spaces
0,2022-12-05 12:42:30,893,426,5,467
1,2022-12-05 12:47:30,893,426,5,467
2,2022-12-05 12:52:30,893,425,5,468
3,2022-12-05 12:57:30,893,422,5,471
4,2022-12-05 13:07:33,893,423,5,470

In [63]:
parking_lot_ribeira['occupied_spaces'] = 0
for index, row in parking_lot_ribeira.iterrows():
    parking_lot_ribeira['occupied_spaces'] = parking_lot_ribeira['total_spaces']-parking_lot_ribeira['available_spaces']
parking_lot_ribeira.head()

,updated_at,total_spaces,available_spaces,general_id,occupied_spaces
0,2022-12-05 12:38:02,318,142,6,176
1,2022-12-05 12:43:02,318,144,6,174
2,2022-12-05 12:48:02,318,142,6,176
3,2022-12-05 12:53:02,318,145,6,173
4,2022-12-05 12:58:02,318,143,6,175

In [64]:
parking_lot_trindade['available_spaces'] = 0
for index, row in parking_lot_trindade.iterrows():
    parking_lot_trindade['available_spaces'] = parking_lot_trindade['total_spaces']-parking_lot_trindade['occupied_spaces']
parking_lot_trindade.head()

,updated_at,description,total_spaces,occupied_spaces,general_id,available_spaces
0,2022-11-02 14:31:39,Av. 48Horas,250,0,7,250
1,2022-11-02 14:31:39,Av. 72Horas,250,20,7,230
2,2022-11-02 14:31:39,Av. Comerciante,250,9,7,241
3,2022-11-02 14:31:39,Av. Publico,250,12,7,238
4,2022-11-02 14:31:39,Av. Residente,250,42,7,208